%h1 Gym today?

%p.lead
  The rules are simple. Ask a friend if they're going to the gym today. If they say yes then you have to go too and you get a point. If they say no then you're not obligated to go.

%a.btn.btn-primary{:href => '/auth/twitter'} Sign in
%a.btn.btn-primary{:href => '/'} Log in
