!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => 'assets/css/bootstrap.min.css', :type => 'text/css'}
    :css
      body {
        margin:20px;
      }

  %body
    -if session[:user]
      Welcome
      =session[:user].nickname
    =yield
