%p.lead
  Hi!
  =@inviter.nickname
  invited you to join Gym Today! Gym Today is a simple game to encourage friends to work out. If you want to accept the invite then please sign in first.

%a.btn.btn-primary{:href => '/auth/twitter'} Sign in
